{% extends "base.html" %}

{% load filters %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/ajax-bootstrap-select.css' %}">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">

<style type=text/css>
</style>
{% endblock %}

{% block title %} Prijave za vpis {% endblock %}

{% block body %}

<h1>Prijave so se zaprle!</h1>


{% endblock %}

{% block javascript %}
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.js"></script>
<script type="text/javascript" src="{% static 'js/ajax-bootstrap-select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/ajax-bootstrap-select.min.js' %}"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>

<script>

</script>
{% endblock %}