{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %} Sprememba gesla {% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-6 col-md-offset-3">
        <h3 class="text-center">Sprememba gesla</h3>

        <form action="{% url 'password_change' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Spremeni geslo
                    </button>
                </div>
            {% endbuttons %}
        </form>
    </div>

</div>

{% endblock %}